<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row">

    <div class="col-md-4">
      <form name="employeeForm" novalidate>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" name="name"  type="text" class="form-control" required [value]="userSelected?.name">
        </div>

        <div class="form-group">
          <label for="email">Correo</label>
          <input id="email" name="email" type="text" class="form-control" required [value]="userSelected?.email">
        </div>

        <button type="button" class="btn btn-outline-primary" (click)="save()">Guardar</button>
        <button type="button" class="btn btn-outline-primary ml-3" (click)="clear()">Limpiar</button>

      </form>
    </div>

    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-bordered table-resposive table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users | async; let i = index" (click)="selected(user)">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-outline-danger btn-xs" (click)="delete(user)">Delete</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
