<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

<div class="row m-3 mt-5">
  <div class="col-md-12">
    <h1 class="text-center">Bienvenido a {{ title }}!</h1>
  </div>
</div>

<div class="row m-5">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>


</div>
